/* .container{
    width: 960px;
    margin: 0 auto;
    background-color: rgb(233, 140, 140);
    padding:10px;
    border: 1px lavender;
    overflow: auto;
}
#content{
    width: 660px;
    background-color: aqua;
    float:left;
    padding
}
#sidebar{
    width: 300px;
    background-color: rgb(0, 255, 21);
    float:right;
    overflow: auto;
} */

#main {
    width: 960px;
    border: 1px solid #333;
    padding: 10px;

 }
 #content{
    width: 660px;
    height: 150px;
    background: #e8e8e8;
    /* float:left;
    padding:10px;
    box-sizing: border-box; */
 }
 #sidebar{
    width: 300px;
    height: 150px;
    background: #b1b1b1;
    /* float:right; */

 }
 